<%= form_for form_params(@topic, @comment), data: {abide: ''} do |form| %>
  <%= render 'layouts/form_errors', object: @comment %>
  <div>
    <%= form.text_area :body, class:'comment-area', required: true %>
    <%= show_error_message('Bu alan boş bırakılamaz.') %></div>
  <%= form.submit class:'tiny button radius' %>
<% end %>
