<div class="large-12 medium-12 medium-centered columns">
<%= form_for form_params(@forum, @topic) do |form| %>
  <%= render 'layouts/form_errors', object: @topic %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit class: 'small button right' %>
  </div>
<% end %>
</div>
