<div class="large-12 medium-12 medium-centered columns">
<%= form_for @topic, url: forum_topics_path do |form| %>
  <% if @topic.errors.any? %>
    <div class="row panel callout radius">
      <p>Aşağıdaki hataları düzeltip, tekrar deneyiniz.</p>
      <ul class="square">
        <% @topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit class: 'small button right' %>
  </div>
<% end %>
</div>