<div class="large-12 medium-12 medium-centered columns">
<%= form_for form_params(@forum, @topic), data: {abide: ''} do |form| %>
  <%= render 'layouts/form_errors', object: @topic %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
    <%= show_error_message('Bu alan boş bırakılamaz.') %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body, class:'topic-area', required: true, pattern: ".{20,}" %>
    <%= show_error_message('İçerik en az 20 karakter uzunluğunda olmalıdır.')%>
  </div>
  <div>
    <%= form.submit class: 'small button right' %>
  </div>
<% end %>
</div>
