<% provide :title, "Konu: #{@topic.title}" %>
<div class="topics panel columns radius ">
  <h2><%= @topic.title %></h2>
  <p><%= markdown @topic.body  %></p>
  <%= topic_info(@topic) %>
</div>
<div>
    <%= link_to "Yorum Ekle", new_topic_comment_path(@topic),
                              class:"tiny button radius" if signed_in? %>
    <% if current_user == @topic.user %>
      <%= link_to "Düzenle", edit_topic_path(@topic), class:"tiny button radius" %>
      <%= link_to "Sil", @topic,
                         method: :delete,
                         class:"tiny button alert radius",
                         data: {confirm: 'Konuyu silmek istediğinize emin misiniz?'} %>
    <% end %>
</div>
<div class="comments">
  <h2>Yorumlar (<%= @topic.comments_count %>)</h2><hr>
  <%= render @comments %>
</div>
