<%= form_for @user, data: {abide: ''} do |form| %>
  <%= render 'layouts/form_errors', object: @user %>
  <div class="row">
    <div class="large-6 columns">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, required: true, pattern: :alpha %>
      <%= show_error_message %>
    </div>
    <div class="large-6 columns">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, required: true, pattern: :alpha %>
      <%= show_error_message %>
    </div>
    <div class="large-12 columns">
      <%= form.label :username %>
      <%= form.text_field :username, required: true, pattern: :alpha %>
      <%= show_error_message %>
    </div>
    <div class="large-12 columns">
      <%= form.label :email %>
      <%= form.email_field :email, required: true, pattern: :email %>
      <%= show_error_message('Geçerli bir e-posta adresi giriniz.') %>
    </div>
    <% if params[:action] == 'new' || params[:action] == 'create' %>
    <div class="large-6 columns">
      <%= form.label :password %>
      <%= form.password_field :password, required: true, pattern: :password %>
      <%= show_error_message('Parola, bir büyük harf, bir rakam ve bir
      de özel karakter içermeli ve en az 8 karakterden oluşmalıdır.') %>
    </div>
    <div class="large-6 columns">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, required: true, pattern: :password %>
      <%= show_error_message('Parola, bir büyük harf, bir rakam ve bir
      de özel karakter içermeli ve en az 8 karakterden oluşmalıdır.') %>
    </div>
    <% end %>
    <div class="large-12 columns">
      <%= form.submit class: 'button right' %>
    </div>
  </div>
<% end %>
