<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Rails on Forum</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <% if signed_in? %>
          <li class="has-dropdown">
            <a href="#"> <%= current_user.name %></a>
              <ul class="dropdown">
                <li><%= link_to "Profilimi Görüntüle", profile_path(current_user) %></li>
                <li><%= link_to "Oturumu Kapat", logout_path, method: :delete %></li>
              </ul>
          </li>
        <% else %>
          <li class="divider"></li>
          <li><%= link_to "Kaydol", register_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Oturum Aç", login_path %></li>
          <li class="divider"></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
