<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>RoF |
      <%= content_for?(:title) ? yield(:title) : "" %>
    </title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "vendor/modernizr" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/top_bar'%>

    <div class="row">
      <%= render 'layouts/flash_messages'%>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
